.bannerBox{
	width: 100%;
	height: 340px;
	background-color:#fbf9fa;
	margin-bottom: 40px;
}
.banner{
	background:url(../image/banner01.jpg)  no-repeat;
	height: 340px;
	width: 1134px;
	background-size:auto 340px;
	margin: 0 auto;
}
.mainContent{
	width: 975px;
	margin: 0 auto;
}
.SubNav {
	float: left;
	padding:3px 15px;
	/*background-color: #ccc;*/
	border-radius: 15px;
	margin:0 10px 15px 0;
	text-decoration: none;
}
.ulSubNav{
	overflow: hidden;
	padding-bottom:30px;
}
.items{
	overflow: hidden;
}
.listItem{
	width: 300px;
	height: 240px;
	float: left;
	margin: 0 25px 22px 0;
	
}
.tipimg{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.item-despt{
	overflow: hidden;
	padding-top: 15px;
}
.item-nick{
	float: left;
}
.item-read{
	float: right;
}
.item-like{
	float: right;
	margin-left: 20px;
}
.headimg{
	width: 24px;
	height: 24px;
	border-radius: 12px;
	overflow: hidden;
	float: left;
}
.nickname{
	padding-left: 10px;
}
@font-face {
    font-family: BTiconfont;
    src: url(fonts/bticonfont-63c1a62e5d.eot);
    src: url(fonts/bticonfont-63c1a62e5d.eot?#iefix) format('embedded-opentype'),url(fonts/bticonfont-a3bb9ad138.woff) format('woff'),url(fonts/bticonfont-839d9f1ca0.ttf) format('truetype'),url(fonts/bticonfont-5c59ce88c2.svg#iconfont) format('svg')
}

.bt-iconfont {
    font-family: BTiconfont!important;
    font-size: 14px;
    color: #d8d8d8;
    padding-right: 6px;
    font-style: normal;
    -webkit-text-stroke-width: .2px
}
.if-view:before {
    content: '\e602'
}
.if-back-to-top:before {
    content: '\e600'
}

.if-like:before {
    content: '\e601'
}
.mainContent .router-link-active{
	background-color: #fd6363;
	color: #fff;
}
.HomeNav .SubNav:hover{
	background-color:#fd6363;
	color:#fff;
}
