.model{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
    top:0;
    z-index: 1;
}
.loginContent{
	width: 420px;
	height: 580px;
	background: #fff;
}
.img-area{
	width: 420px;
	height: 160px;
	background:url(../image/login-top-bg.jpg) no-repeat;
	background-size: contain;
}
.moveLogin{
	margin-top:0px;
	animation:mymove1 0.9s;
}
@keyframes mymove1{
    from{margin-top:-100px;}
    to{margin-top:0;}
}

@-webkit-keyframes mymove1 {
    from{margin-top:-100px;}
    to{margin-top:0;}
} 
.log-reg-area{
	padding:30px 0;
}
.reg-padding{
	padding:10px 0;
}
.log-tell,.log-pwd,.log-code{
	margin:20px;
}
.err{
	color:#fd6363;
	font-size: 13px; 
	width: 270px;
	margin:-10px auto 10px;
	text-align: left;
}
.log-ipt{
	width: 280px;
	height: 40px;
	border:none;
	border: 1px solid #ddd;
	padding:0 15px;
	border-radius:20px;
	outline: none;
}
.log-code{
	width:280px;
	overflow: hidden;
	margin:0 auto;
}
.log-codeipt{
	width: 160px;
	float: left;
}
.log-codebtn{
	width: 100px;
	float: right;
	background: #f5f5f5;
	text-align: center;
	color: #666;
	cursor: pointer;
}
.log-btn{
	background:#fd6363;
	color: #fff;
	text-align: center;
	outline: none;
	font-size: 16px;
	cursor: pointer;

}
.log-register{
	color: #3f8cca;
	font-size: 12px;
	display: block;
	text-decoration: none;
	margin:10px 0 30px;
	cursor: pointer
}
.log-fast{
	width: 280px;
	margin: 0 auto;
}
.log-fast-in{
    position: relative;
    font-size: 14px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin-top: 30px
}
.log-fast-in:after, .log-fast-in:before {
    display: table;
    content: '';
    position: absolute;
    top: 7px;
    height: 0;
    width: 50px;
    border-top: 1px solid #eaeaea
}
.log-fast-in:after{
	right: 0;
}
.log-fast-in:before {
	left: 0;
}
.L-icon{
	height:24px;
	width:24px;
	display: inline-block;
	background-size: 200px 150px;
	transform: scale(1.25);
}
.Weibo{
	background:url(../image/sprites2.png) no-repeat -94px -64px;
}
.qqContent{
	background:url(../image/sprites2.png) no-repeat -118px -64px;
}
.Weibo:hover{
	background:url(../image/sprites2.png) no-repeat -94px -38px;
}
.qqContent:hover{
	background:url(../image/sprites2.png) no-repeat -118px -38px;
}
.log-bottom{
	margin-top: 20px;
	font-size: 14px;

}
.log-bottom a{
	text-decoration: none;
	color: #666;

}
.log-left{
	margin-right:70px;
	display: inline-block;
}
.log-right{
	margin-left: 70px;
	display: inline-block;
}
.pt-10{
	padding-top: 10px;

}
.pt-15{
	padding-top: 15px;
}
.model-close{
	width: 20px;
	height: 20px;
	position:absolute;
	right:40px;
	top:40px;
	background:url(../image/sprites2.png) no-repeat -50px -94px;
}