.article{
	width:840px;
	margin:0 auto;
	background: #fff;
	padding:20px 130px 60px;
	min-height: 500px;
}
.WriteHead{
	background: #fff;
}
.Write{
	background: #f5f5f5;
}
.btn-release{
	font-size: 14px;
	width: 100px;
	height: 30px;
	border-radius: 15px;
	border: none;
	color: #fff;
	outline: none;
}
.w-save{
	
}
.w-preview{
	margin: 0 30px;
}
.article{
	margin-top: 20px;
}
.head-menu-right{
	font-size: 14px;
}
.article-tit{
	height: 32px;
	width: 580px;
	margin: 0 auto 20px;
  
}
.article-ipt{
	width: 580px;
	padding-bottom: 20px;
	font-size: 28px;
	color: #BFBFBF;
	font-family:700;
	border:none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
}
.article-operation{
	padding:20px 0;
	overflow: hidden;
	color: #999;
}
.article-add{
	float: left;
	position: relative;
	width: 120px;
	cursor: pointer;
}
.file-btn{
	opacity: 0
}
.article-text{
	font-size: 14px;
	position: absolute;
	left:25px;
	top:-3px;
}
.article-icons-add-img{
	position: absolute;
	width:18px;
	height:15px;
	background: url(../image/article-sprites.png) no-repeat -29px -25px/150px 75px;
}
.article-icons-add-product{
	position: absolute;
	width:18px;
	height:15px;
	left: 0;
	background: url(../image/article-sprites.png) no-repeat -29px -40px/150px 75px;
}
.edit-content{
	position: relative;
	height: 100px;
}
.edit-unit{
	width: 100%;
	position: absolute;
	left:550px;

}
.edit-close{
	width: 30px;
	height: 30px;
	position: absolute;
	background:rgba(0,0,0,.5);
}
.article-icons-close{
	position: absolute;
	left:6px;
	top:6px;
	width: 17px;
	height: 17px;
	background:url(../image/article-sprites.png) no-repeat -25px 0px/150px 75px;

}